ul.nav.nav-list
  li
    a(href='#') 전체
  li.nav-header 작품별
  li 
    a(href='#startrek') 스타트랙
  li 
    a(href='#fringe') 프린지
  li
    a(href='#revolution') 레볼루션
  li.nav-header 연대별
  li
    a(href='#classical') 고전 / 초기근대
    a(href='#mid20') 60~80년대
    a(href='#contemporary') 현대