extends template/layout

block title
  처음 화면
block content
  #pageid front
  &nbsp;
  .article.well.well-small
    a(href='machine-sentience.html')
      h3 기계는 지각이 있는 존재인가?
    p 고대부터 인간을 괴롭히는 딜레마. 과연 지각이 있는 존재란 무엇이고 인간의 창조물이 그 범주에 포함될 수 있는가?
  .article.well.well-small
    h3 프린지 레트로 오프닝
  .article.well.well-small
    h3 J.J. Abrams 의 스타트랙